<div class="loader centered" *ngIf="loader"></div>
<div style="text-align: center" *ngIf="allHouses">
   <b>Filter by House&nbsp;</b>
  <input type="text"  [(ngModel)]="search" style="margin-bottom: 8%">

    <h3 class="text-center mb-5" style="background-color: black;color:whitesmoke;">Houses</h3>

    <div class="card card-01 item card-border" *ngFor="let house of allHouses | category: search ; let i = index">
        <div class="card-body">
          <h4 class="card-title">{{house.name}}</h4>
          <p class="card-text">Region: {{house.region}}</p>
            <a [routerLink]="['house', i]" class="btn btn-default text-uppercase">Click here for Details</a>
        </div>
    </div>
</div>