<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbargot" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <b><a class="navbar-brand" href="#" style="color: khaki">Game of Thrones</a></b>
      
        <div class="collapse navbar-collapse" id="navbargot">
            <div class="nav-item active" style="margin: 0 auto; display: table;">
                    <audio controls>
                        <source src="../assets/got.mp3" type="audio/mp3">
                          Your browser does not support the audio element.
                    </audio>
            </div>
     
        </div>
      </nav>

<h2 style="align-self: center; margin-bottom: 6%; margin-top: 4%;" class="text-center">Game of Thrones Wiki</h2>

<router-outlet></router-outlet>

<footer style = "margin: 0 auto; display: table; margin-bottom: 3%;"><h4><a class="" href="#">Go to Top</a></h4></footer>



